@import url(https://fonts.googleapis.com/css?family=Work+Sans);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 100%;
}
body{
	font-family: 'Work Sans', sans-serif;
}
a{
	text-decoration: none;
	color: #231F20;
}
.wrap{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.mz{
    width: 16em;
    height: 16em;
    background-image: url(../img/mz.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15% 0 10% 29%;
    cursor: pointer;
} 
.mz:hover{
    animation: 0.15s infinite mz;
}
@keyframes mz{
    50%{
        transform: translateX(2px) rotate(1deg);
    }

    100%{
        transform: translateX(-2px) rotate(-1deg);
    }
}
.bio{
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: .02em;
    margin-left: 8%
}
.mouse{
    position: fixed;
    bottom: 0;
    margin-bottom: 2%;
    margin-left: 49%;  
}
.mouse-icon{
    width: 25px;
    height: 45px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}
.mouse-wheel{
    width: 3px;
    height: 6px;
    margin: 2px auto 0;
    display: block;
    background-color: black;
    border-radius: 50%;
    animation: 1.6s ease infinite wheel;
}
@keyframes wheel{
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}
/* tablet */
@media only screen and (min-width: 768px){
    .wrap{
        width: 75%;
    }
    .bio{
        margin-left: 5%;
    }
}
/* desktop */
@media only screen and (min-width: 1200px){
    .wrap{
        width: 50%;
    }
    .bio{
        margin-left: 7%;
    }
}